# Polymarket Builder Credentials
BUILDER_PRIVATE_KEY=
BUILDER_API_KEY=
BUILDER_SECRET=
BUILDER_PASSPHRASE=

# Rede
POLYGON_RPC_URL=https://polygon-rpc.com

# Privy (pode ser público)
NEXT_PUBLIC_PRIVY_APP_ID=
